version: '3.9'

services:
  api:
    build:
      context: ..
      dockerfile: Backend/History/Dockerfile
    container_name: history_api
    ports:
      - "5000:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: ${DB_CONNECTION_STRING}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: history_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d historydb"] 
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"


  client:
    build:
      context: ../Client/frontend
      dockerfile: Dockerfile
    container_name: history_client
    depends_on:
      - api
    ports:
      - "4200:80"

volumes:
  pgdata: